@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


:root {
    /* Primary colors*/
    --main-bg: hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);

    /* Neutral colors*/
    --stats: hsl(0, 0%, 100%);
    --paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}

/* this is a reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main styles*/
body {
    background-color: var(--main-bg);
}

.image {
    background: url(/images/image-header-mobile.jpg) no-repeat center/cover;
    border-radius: 0.5em 0.5em 0em 0em;
    overflow: hidden;
}

.image-overlay {
    background-color: hsla(277, 64%, 61%, 0.712);
    height: 300px;
    border-radius: 0.5em 0.5em 0em 0em;
    mix-blend-mode: multiply;
}

p {
    color: var(--paragraph);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-bottom: 1.5rem;
    line-height: 1.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

h1 {
    color: var(--stats);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    text-align: center;
    margin: 1.5rem;
}

h3 {
    color: var(--stats);
    font-family: 'Inter';
    text-transform: lowercase;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
}

span {
    color: var(--accent);
}

.card-container {
    border-radius: 0.50em;
    margin: 30px auto;
    max-width: 95%;
    background-color: var(--card-bg);
}

.text-container {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    font-family: 'Lexend Deca';
    text-align: center;
    color: var(--paragraph);
    list-style-type: none;/* gets rid of bullets */
    text-transform: uppercase;
    font-size: 0.75rem;
}

.uppercase-header {
    text-transform: uppercase;
}

li {
    padding: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
    padding: 1rem;
}

a {
    color: var(--accent);
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    .card-container {
        margin: 30px auto;
        max-width: 70%;
    }
    .image {
        min-width: 50%;
    }
    .image-overlay {
        height: 400px; 
        overflow: hidden;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh; 
    }
    .card-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        text-align: left;
    }
    h1 {
        font-size: 1.75rem;
        text-align: left;
        margin-left: 1rem;
    }
    p {
        font-size: 13px;
        text-align: left;
        padding-bottom: 1rem;
        line-height: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .image {
        background: url('/images/image-header-desktop.jpg') no-repeat center/cover;
        min-width: 50%;
        border-radius: 0em 0.5em 0.5em 0em;
    }
    .image-overlay {
        background-color: hsla(277, 64%, 61%, 0.712);
        height: 410px; 
        border-radius: 0em 0.5em 0.5em 0em;
        overflow: hidden;
    }

    ul {
        display: flex;
        flex-direction: row;
        padding-top: 2em;
    }

    li h3 {
        padding-right: 1em;
    }

    .uppercase-header {
        position: relative;
        left: 15%;
    }
}

@media only screen and (min-width: 1440px) {
    ul {
        position: relative;
        right: 12%;
    }
}